{% extends 'base.html.twig' %}

{% block title %}Hello StationController!
    {% include '/form/index.html.twig' %}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

</style>
<div class="example-wrapper">
 {{ form(form) }}
</div>
<div class="container-fluid">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Station ID</th>
            <th scope="col">Station Location Name</th>
            <th scope="col">Station Power</th>
            <th scope="col">Station Charge Type</th>
        </tr>
        </thead>
        <tbody>
        {% for station in stations %}
            <tr>
                <th scope="row"> {{ station.id }}</th>
                <td > {{ station.location.name }}</td>
                <td> {{ station.power }}</td>
                <td> {{ station.type }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
